- if can?(current_user, :read_design, @issue)
  %ul.nav-tabs.nav.nav-links{ role: 'tablist' }
    %li
      = link_to '#discussion-tab', class: 'active js-issue-tabs', id: 'discussion', role: 'tab', 'aria-controls': 'js-discussion', 'aria-selected': 'true', data: { toggle: 'tab', target: '#discussion-tab' } do
        = _('Discussion')
        %span.badge.badge-pill.js-discussions-count
    %li
      = link_to '#designs-tab', class: 'js-issue-tabs', id: 'designs', role: 'tab', 'aria-controls': 'js-designs', 'aria-selected': 'false', data: { toggle: 'tab', target: '#designs-tab', qa_selector: 'designs_tab' } do
        = _('Designs')
        %span.badge.badge-pill.js-designs-count
  .tab-content
    #discussion-tab.tab-pane.show.active{ role: 'tabpanel', 'aria-labelledby': 'discussion' }
      = render_ce 'projects/issues/discussion'
    #designs-tab.tab-pane{ role: 'tabpanel', 'aria-labelledby': 'designs' }
      #js-design-management{ data: { project_path: @project.full_path, issue_iid: @issue.iid, issue_path: project_issue_path(@project, @issue) } }
- else
  = render_ce 'projects/issues/discussion'
