- @content_class = 'wiki-history'
- page_title _("History"), @page.human_title, _("Wiki")

.wiki-page-header.top-area.has-sidebar-toggle.flex-column.flex-lg-row
  %button.btn.btn-default.sidebar-toggle.js-sidebar-wiki-toggle{ role: "button", type: "button" }
    = icon('angle-double-left')

  .nav-text
    %h2.wiki-page-title
      = render partial: 'page_title', locals: { subtitle: _("History") }

.table-holder
  %table.table
    %thead
      %tr
        %th= s_("Wiki|Page version")
        %th= _("Author")
        %th= _("Commit Message")
        %th= _("Last updated")
        %th= _("Format")
    %tbody
      - @page_versions.each_with_index do |version, index|
        - commit = version
        %tr
          %td
            = link_to project_wiki_path_with_version(@project, @page,
                                                     commit.id, index == 0) do
              = truncate_sha(commit.id)
          %td
            = commit.author_name
          %td
            = commit.message
          %td
            #{time_ago_with_tooltip(version.authored_date)}
          %td
            %strong
              = version.format
= paginate @page_versions, theme: 'gitlab'

= render 'shared/wiki/sidebar'
